@model Form

<form asp-action="Create">
    <div class="form-groupe">

        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control" placeholder="Entrez votre description" />
        <span asp-validation-for="Description" class="text-danger"></span>

        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control" placeholder="Entrez le titre" />
        <span asp-validation-for="Title" class="text-danger"></span>


        <input type="hidden" asp-for="StatusId" class="form-control" placeholder="Entrez le status" value="1"/>

        <input type="hidden" asp-for="UserPersonId" class="form-control" placeholder="Entrez votre Id" value="@TempData["UserId"]" />


    </div>
    <button class="btn btn-primary">Ajouter le formulaire</button>

</form>