@model FormViewModel

<div id="contentAddQuestion" hidden>
    <partial name="_createQuestion" model="new Question{FormId=Model.Form.Id}" />
</div>

<div id="divContentForm">
    <partial name="_showForm" model="Model.Form" />
</div>


<script>
    $(function () {
        $('#formCreateQuestion').submit(function (e) {
            var listChoices = [];

            // Parcours toutes les cases à cocher cochées
            $('.form-check-input:checked').each(function () {
                var values = $(this).val().split(",");
                for (var i = 0; i < values.length; i++) {
                    var value = values[i].trim(); 
                    var intValue = parseInt(value);
                    if (!isNaN(intValue) && !listChoices.includes(intValue)) {
                        listChoices.push(intValue)
                    }
                }
            });
            var question = {
                Label: $('#inputLabel').val(),
                Description: $('#inputDescription').val(),
                FormId: $('#inputFormId').val(),
            };

            console.log("question : " + listChoices[1]);

            $.post('/Question/CreateQuestion', { question: question, choiceIds: listChoices }, function (data) {
                $('#divContentForm').html(data);
                location.reload();
            });
            e.preventDefault();
        });
    });

   
    function deleteQuestion(id, formId) {

        $.get('/Question/DeleteQuestion', { id, formId }, function (data) {
            $('#divContentForm').html(data);
        });
    }

    var addQbutton = document.querySelector('#addQuestionButton');
    addQbutton.addEventListener('click', hideShowAddQuestion);

    var sendQbutton = document.querySelector('#sendQuestionButton');
    sendQbutton.addEventListener('click', hideShowAddQuestion);

    var cancelQbutton = document.querySelector('#cancelQuestionButton');
    cancelQbutton.addEventListener('click', hideShowAddQuestion);

    function hideShowAddQuestion() {
        var divAddQ = document.querySelector('#contentAddQuestion');
        divAddQ.hidden = !divAddQ.hidden;
    }

</script>