@model Form

<form asp-action="Edit" method="post">
    <div class="form-groupe">
        <input type="hidden" asp-for="Id" class="form-control" />

  

        <label asp-for="Description">Description</label>
        @{
            if (Model.StatusId != 1)
            {
                <input type="text" asp-for="Description" class="form-control" placeholder="Entrez votre description" disabled/>

            }
            else
            {
                <input type="text" asp-for="Description" class="form-control" placeholder="Entrez votre description" />

            }
        }
        <span asp-validation-for="Description" class="text-danger"></span>


        <label asp-for="Title">Title</label>
        @{
            if (Model.StatusId != 1)
            {
                <input type="text" asp-for="Title" class="form-control" placeholder="Entrez le titre" disabled/>
            }
            else
            {
                <input type="text" asp-for="Title" class="form-control" placeholder="Entrez le titre" />

            }
        }
        <span asp-validation-for="Title" class="text-danger"></span>

        @{
            if (Model.StatusId == 1)
            {
                <a type="submit" asp-action="Validate" asp-controller="Form" asp-route-Id="@Model.Id" method="post" class="btn btn-primary">Validate</a>
            }
            if (Model.StatusId == 2)
            {
                <a type="submit" asp-action="Close" asp-controller="Form" asp-route-Id=" @Model.Id" method="post" class="btn btn-primary">Close</a>
            }
        }

        <input type="hidden" asp-for="UserPersonId" class="form-control" placeholder="Entrez votre Id" value="@Model.UserPersonId" />


    </div>
    <button class="btn btn-primary">Editer le formulaire</button>

</form>