@model List<Form>
<h1> Forulaires</h1>

<div id="divContentForms">
    <partial name="_displayForms" model="Model" />
</div>

<a type="button" class="btn btn-primary" asp-action="Create">Ajouter un formulaire</a>