@model Question

<div class="container">
    <form asp-action="CreateQuestion" asp-controller="Question" id="formCreateQuestion">
        <input type="text" asp-for="FormId" id="inputFormId"/>
        <div class="col-md-3 mb-3">
            <label asp-for="Label" class="form-label">Question :</label>
            <input type="text" asp-for="Label" class="form-control" id="inputLabel" placeholder="Saisissez la question...">
            <span asp-validation-for="Label" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="Description" class="form-label">Description :</label>
            <input type="text" asp-for="Description" class="form-control" id="inputDescription" placeholder="Saisissez la description...">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button id="callCreateChoice" class="btn btn-info">Ajouter Choix</button>
        @if (Model != null)
        {
            <div id="divCreateChoice">
                <partial name="_createChoice" model="Model.Choices" />
            </div>
        }
        <button class="btn btn-info">Envoyer</button>
    </form>
      
</div>

<script>
    $(document).ready(function () {
        $('#callCreateChoice').click(function (e) {
            var idQuestion = $('#inputFormId').val();
            console.log("idQuestion :", idQuestion);

            $.get('/Choice/CreateChoice', { idQuestion }, function (data) {
                $('#divCreateChoice').html(data); // Mettre à jour le contenu de la div avec le contenu HTML reçu dans la réponse de la requête GET
            });
            e.preventDefault(); // Empêcher le comportement par défaut du bouton
        });
    });
</script>