@model Form

<form asp-action="Edit" asp-controller="Form" id="editInfoForm">
    <div class="form-groupe">
        <input type="hidden" asp-for="Id" id="inputFormID" />
        <input type="hidden" asp-for="StatusId" id="inputStatusID" />
        <input type="hidden" asp-for="UserPersonId" id="inputUserPersonId" />
        <label asp-for="Title">Titre : </label>
        <input type="text" asp-for="Title" id="inputTitle" />
        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description" id="inputDescriptionForm" />
        <button class="btn btn-primary">Editer le formulaire</button>
    </div>
</form>

<script>
    $(function () {
        $('#editInfoForm').submit(function (e) {
            console.log("je rentre");
            var form = {
                Id: $('#inputFormID').val(),
                StatusId: $('#inputStatusID').val(),
                UserPersonId: $('#inputUserPersonId').val(),
                Title: $('#inputTitle').val(),
                Description: $('#inputDescriptionForm').val(),
            };

            console.log(form);

            $.post('/Form/Edit', { form }, function (data) {
                $('#divContentForm').html(data);
            });
            e.preventDefault();
        });
    });
</script>